<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1039},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,710},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1039},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,710},{285,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,327}}</string>
                <key>sourceSize</key>
                <string>{285,327}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{870,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{870,514}}</string>
                <key>sourceSize</key>
                <string>{870,514}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,386},{195,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,322}}</string>
                <key>sourceSize</key>
                <string>{195,322}</string>
            </dict>
            <key>pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,386},{195,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,322}}</string>
                <key>sourceSize</key>
                <string>{195,322}</string>
            </dict>
            <key>tiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,58}}</string>
                <key>sourceSize</key>
                <string>{640,58}</string>
            </dict>
            <key>windowleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{573,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,276}}</string>
                <key>sourceSize</key>
                <string>{573,276}</string>
            </dict>
            <key>windowright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{573,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,276}}</string>
                <key>sourceSize</key>
                <string>{573,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e8cf75a8698d066bc26be82b74f67d:bd90af3b79367198a5e982ef27ca4cb5:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
